.how-get-start {
  width: 100%;
  padding: 80px 104px 20px 104px;
  background: #151515;
  color: white;
}

/* Stock uggesstion Wrap  */

.stock-suggestion-wrap {
  width: 598.19px;
  height: 463.03px;
  margin-left: 50px;
  position: relative;
}
.stock-suggestion-wrap .stock-webview {
  width: 526.74px;
  height: 477.3px;
  border-radius: 30px;
  background-color: #f7f7fb0d;
}
.stock-suggestion-wrap .stock-webview .web-view-tabbar {
  width: 100%;
  height: 52.56px;
  border-radius: 30.43px 30.43px 0px 0px;
  background-color: #ffffff0d;
  display: flex;
  align-items: center;
  gap: 150px;
  padding: 0px 15px;
}

.web-view-tabbar .nav-dots {
  display: flex;
  gap: 5px;
}

.web-view-tabbar .nav-dots .dots {
  width: 15.85px;
  height: 15.85px;
  font-size: 16px;
}

.web-view-tabbar .nav-dots .dots1 {
  color: #ffffff0d;
}

.web-view-tabbar .nav-dots .dots2 {
  color: #ffffff26;
}

.web-view-tabbar .nav-dots .dots3 {
  color: #ffffff0d;
}
.web-view-tabbar span {
  font-size: 12px;
  font-weight: 400;
  line-height: 16.11px;
  color: #ffffff66;
}

.web-view-navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
}

.web-view-navbar .nav-logo {
  display: flex;
  align-items: center;
  gap: 5px;
}
.nav-logo img {
  display: inline-block;
  width: 12.84px;
  height: 17.11px;
}

.nav-logo span {
  font-size: 10px;
  text-transform: capitalize;
}

.web-view-navbar .nav-dash {
  width: 130.47px;
  height: 4.87px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.web-view-navbar .nav-dash .dash {
  width: 28.24px;
  height: 3.8px;
  border-radius: 11.41px;
}

.web-view-navbar .nav-dash .dash1 {
  background-color: #e7edf81a;
}

.web-view-navbar .nav-dash .dash2 {
  background-color: #e7edf833;
}

.web-view-navbar .nav-dash .dash3 {
  background-color: #e7edf81a;
}

.web-view-navbar .nav-dash .dash4 {
  background-color: #e7edf833;
}

.web-view-search {
  width: 100%;
}

.web-view-search .top-search {
  width: 60.37px;
  height: 7.79px;
  border-radius: 11.68px;
  background-color: #e7edf80d;
  margin: auto;
}

.web-view-search .bottom-search {
  width: 242.78px;
  height: 19.19px;
  border-radius: 23.37px;
  background-color: #e7edf80d;
  margin: 10px auto;
}

.web-view-stocks1 {
  position: absolute;
  top: 170px;
  left: -62px;
  width: 294px;
  height: 56px;
  padding: 8px 16px 8px 8px;
  border-radius: 100px;
  background-color: #ffffff0d;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.web-view-stocks1 span {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
}

.web-view-stocks1 p {
  font-family: Inter;
  font-size: 10px;
  font-weight: 400;
  text-align: left;
}

.web-view-stocks2 span {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
}

.web-view-stocks2 p {
  font-family: Inter;
  font-size: 10px;
  font-weight: 400;
  text-align: left;
}
.web-view-stocks3 span {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
}

.web-view-stocks3 p {
  font-family: Inter;
  font-size: 10px;
  font-weight: 400;
  text-align: left;
}

.web-view-stocks4 span {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
}

.web-view-stocks4 p {
  font-family: Inter;
  font-size: 10px;
  font-weight: 400;
  text-align: left;
}

.web-view-stocks5 span {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
}

.web-view-stocks5 p {
  font-family: Inter;
  font-size: 10px;
  font-weight: 400;
  text-align: left;
}
.web-view-stocks6 span {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
}

.web-view-stocks6 p {
  font-family: Inter;
  font-size: 10px;
  font-weight: 400;
  text-align: left;
}

.web-view-stocks1:hover {
  transform: scale(1.1);
  transition: ease-in-out 0.3s;
}

.web-view-stocks2 {
  position: absolute;
  top: 170px;
  right: 0px;
  width: 263px;
  height: 56px;
  padding: 8px 16px 8px 8px;
  border-radius: 100px;
  background-color: #ffffff0d;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.web-view-stocks2:hover {
  transform: scale(1.1);
  transition: ease-in-out 0.3s;
}

.web-view-stocks3 {
  position: absolute;
  width: 501.63px;
  height: 56px;
  top: 251px;
  left: 10px;
  right: 0px;
  padding: 8px 16px 8px 8px;
  gap: 31px;
  border-radius: 100px;
  opacity: 0px;
  background-color: #ffffff0d;
  display: flex;
  align-items: center;
}

.web-view-stocks3:hover {
  transform: scale(1.1);
  transition: ease-in-out 0.3s;
}
.web-view-stocks3 .stocks3-dash {
  width: 201.9px;
  height: 7.51px;
  border-radius: 11.68px;
  background: #eef1f60d;
}

.stock-percentage {
  width: auto;
  height: 18px;
  gap: 6.75px;
  border-radius: 10px;
  background-color: #1ad59833;
  font-size: 10.5px;
  font-weight: 600;
  line-height: 9px;
  color: #1ad598;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 4px;
}

.web-view-stocks4 {
  position: absolute;
  top: 330px;
  left: -62px;
  width: 294px;
  height: 56px;
  padding: 8px 16px 8px 8px;
  border-radius: 100px;
  background-color: #ffffff0d;
  display: flex;
  align-items: center;
}

.web-view-stocks4:hover {
  transform: scale(1.1);
  transition: ease-in-out 0.3s;
}

.web-view-stocks5 {
  position: absolute;
  top: 330px;
  right: 0px;
  width: 263px;
  height: 56px;
  padding: 8px 16px 8px 8px;
  border-radius: 100px;
  background-color: #ffffff0d;
  display: flex;
  align-items: center;
}

.web-view-stocks5:hover {
  transform: scale(1.1);
  transition: ease-in-out 0.3s;
}

.web-view-stocks6 {
  position: absolute;
  width: 542px;
  height: 56px;
  top: 401px;
  left: 10px;
  right: 0px;
  padding: 8px 16px 8px 8px;
  gap: 31px;
  border-radius: 100px;
  opacity: 0px;
  background-color: #ffffff0d;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.web-view-stocks6:hover {
  transform: scale(1.1);
  transition: ease-in-out 0.3s;
}

.stocks6-amount {
  width: fit-content;
  height: 26px;
  padding: 8px 12px 4px 12px;
  border-radius: 30px;
  background-color: #ffffff1a;
  font-size: 14px;
  font-weight: 500;
  line-height: 12.1px;
}

.arrow-grow {
  color: #1ad598;
  width: 10.38px;
  height: 10.38px;
  font-size: 20px;
}
.white-circle {
  width: 17.04px;
  height: 17.04px;
  font-size: 18px;
  color: #eef1f6;
  margin-top: -5px;
  margin-right: 2px;
}

/* Learn Steps Styling   */

.howGet-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.howGet-header h1 {
  font-size: 40px;
  font-weight: 600;
  line-height: 48.41px;
  text-align: center;
  color: #ffffff;
}

.howGet-header p {
  max-width: 764px;

  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  color: #ffffff80;
}

.how-step-wrap {
  width: 100%;
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.how-step-wrap .step-box {
  width: 389.33px;
  height: 538px;
  gap: 24px;
  border-radius: 16px;
  border: 1px solid #504e4e;
  background: #18181b80;
  box-shadow: 0px 0px 0px 0px #ffffff;
  box-shadow: 0px 0px 0px 1px #f4f4f51a;
  box-shadow: 0px 0px 0px 0px #00000000;
}

.step-box:hover {
  transform: translateY(-2px) scale(1.01);
  transition: ease-in-out 0.4s;
  box-shadow: 0px 0px 0px 1px #f4f4f51a;
}

.step-box .step1 {
  width: 100%;
  height: 100%;
  background-image: url("/Images/Stp-Bg.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user-details {
  width: 384px;
  height: 326px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 32px;
}

.user-details .users-info {
  width: 319.01px;
  height: 51.47px;
  background-color: #30303080;
  border: 0.84px solid #484848;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
}

.users-info .user-c1 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.users-info .user-c1 .user-c-icon {
  width: 24.91px;
  height: 24.48px;
  background-color: #585858;
  border: 0.79px solid #585858;
  opacity: 0.5px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff80;
}

.users-info .user-c1 span {
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  text-align: left;
  color: #ffffff80;
}

.user-c2 {
  display: flex;
  flex-direction: column;
}
.user-c2 span {
  font-size: 9px;
  font-weight: 400;
  line-height: 10.89px;
  text-align: left;
  color: #ffffff80;
}

.usec2-dash {
  width: 80.36px;
  height: 6.32px;
  opacity: 0.5px;
  background-color: #484848;
  border-radius: 8px;
  margin-top: 4px;
}

.user-done {
  width: 53.05px;
  height: 18px;
  padding: 4px 17px 4px 17px;
  border-radius: 20px;
  border: 0.47px solid #484848;
  font-size: 7px;
  font-weight: 400;
  line-height: 8.47px;
  text-align: left;
  color: #ffffff80;
}

/*  */

.step-guide {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.step-guide::before {
  position: absolute;
  content: "";
  top: 10px;
  width: 100%;
  height: 1px;
  background: linear-gradient(
    90deg,
    rgba(35, 137, 231, 0) 0%,
    rgba(35, 137, 231, 0.4) 50%,
    rgba(35, 137, 231, 0) 100%
  );
}
.step-guide h6 {
  font-size: 18px;
  font-weight: 600;
  line-height: 21.78px;
  color: #61399f;
}

.step-guide h5 {
  font-size: 20px;
  font-weight: 600;
  line-height: 24.2px;
  color: #ffffff;
}
.step-guide p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: #ffffff80;
}

.step-guide p:hover {
  color: #ffffff;
}

/*  Step 2 box */

.step2 {
  width: 100%;
  height: 100%;
  background-image: url("/Images/Stp-bg1.png");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.set-goal-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 75px;
}

.set-goal-wrap .set-gaol-top {
  width: 279.11px;
  height: 62.28px;
  padding: 16.15px 83.04px 16.15px 16.15px;
  border-radius: 8.67px;
  border: 0.69px solid #484848;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #30303080;
}

.set-gaol-icon {
  width: 29.99px;
  height: 29.99px;
  padding: 6.94px 6.69px 6.69px 6.94px;
  border-radius: 6.23px;
  background: #ffffff12;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 3px 1px #00000066;
}

.set-gaol-top .goal-progress-wrap {
  width: 136.1px;
  height: 28.83px;
  display: flex;
  flex-direction: column;
  gap: 4.04px;
  opacity: 0px;
}

.goal-progress-wrap .goal-progress1 {
  width: 136.1px;
  height: 6.92px;
  border-radius: 24.8px;
  background-color: #2f2f2f;
}

.goal-progress-wrap .goal-progress2 {
  width: 72.66px;
  height: 6.92px;
  border-radius: 24.8px;
  background-color: #444444;
}

.goal-progress-wrap .goal-progress3 {
  width: 40.94px;
  height: 6.92px;
  border-radius: 24.8px;
  background: #2f2f2f;
}

.set-goal-wrap .set-gaol-bottom {
  width: 279.11px;
  height: 112.45px;
  padding: 12.69px 29.99px 12.11px 11.53px;
  border-radius: 10px;
  border: 0.69px solid #484848;
  background-color: #303030;
  display: flex;
  align-items: center;
  position: relative;
}

.bottom-gaol-icon {
  width: 87.66px;
  height: 87.66px;
  padding: 11.53px 11.53px 11.53px 11.54px;
  border-radius: 10px;
}

.bottom-goal-progress-wrap {
  width: 136.1px;
  height: 48.44px;
  display: flex;
  flex-direction: column;
  gap: 4.61px;
  position: relative;
}

.bottom-goal-progress-wrap .bottom-goal-progress1 {
  width: 136.1px;
  height: 8.65px;
  border-radius: 24.8px;
  background-color: #ffffff0d;
}

.bottom-goal-progress-wrap .bottom-goal-progress2 {
  width: 72.66px;
  height: 8.65px;
  border-radius: 24.8px;
  background-color: #444444;
}

.bottom-goal-progress-wrap .bottom-goal-progress3 {
  width: 72.66px;
  height: 8.65px;
  border-radius: 24.8px;
  background-color: #ffffff0d;
}

.bottom-goal-progress-wrap .bottom-goal-progress4 {
  width: 40.94px;
  height: 8.65px;
  border-radius: 24.8px 0px 0px 0px;
  background-color: #ffffff0d;
}

.set-gaol-bottom .bottom-goal-icon {
  position: absolute;
  right: 0px;
  bottom: -30px;
}

/* Step 3 */
.step3 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.step3 .stock-advise-log {
  width: 255.17px;
  height: 202.83px;
  border-radius: 16px;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.0425) 0%,
      rgba(255, 255, 255, 0.045) 100%
    ),
    radial-gradient(
      147.74% 147.74% at 93.68% 0%,
      rgba(92, 206, 255, 0.231) 0%,
      rgba(164, 92, 255, 0.1155) 21.5%,
      rgba(203, 56, 255, 0) 43%
    );
  box-shadow: 0px -4.91px 4.91px 0px #0000000a inset;

  box-shadow: 0px -9.81px 0.82px 0px #0000000a inset;

  box-shadow: 0px 13.09px 39.26px 0px #00000014;

  box-shadow: 0px 0px 0px 1.64px #0000000a;

  backdrop-filter: blur(15px);
  margin: auto;
}

.stock-advise-log .advise-logoc {
  position: absolute;
  top: 35%;
  left: 35%;
}

.stock-advise-log .advise-logo1 {
  width: 118px;
  height: 118px;
  border-radius: 16px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.085) 0%,
    rgba(255, 255, 255, 0.09) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -50px;
  top: 20%;
}

.stock-advise-log .advise-logo2 {
  width: 118px;
  height: 118px;
  border-radius: 16px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.085) 0%,
    rgba(255, 255, 255, 0.09) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -50px;
  top: 20%;
}

/* Step 4 */
.step4 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.step4 .invest-paln-wrap {
  width: 259.42px;
  height: 232.94px;
  border-radius: 8px;
  margin: auto;
  background-color: #30303080;
  position: relative;
}

.invest-paln-wrap .invest-paln-top {
  width: 259.42px;
  height: 23.78px;
  border-radius: 8px 8px 0px 0px;
  background-color: #303030;
  display: flex;
  align-items: center;
  gap: 5px;
  padding-left: 10px;
}

.invest-paln-wrap .invest-paln-top span {
  width: 4.32px;
  height: 4.32px;
  font-size: 4px;
  color: #ffffff80;
}

.invest-paln-wrap .invest-plan-list {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 10px 0px 10px;
  margin-bottom: 4px;
}

.invest-paln-wrap .invest-plan-list .plan-point {
  width: 38.91px;
  height: 38.91px;
  background-color: #30303080;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.invest-paln-wrap .invest-plan-list .point-wrap {
  width: 145.38px;
  height: 32.43px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.invest-paln-wrap .invest-plan-list .point-wrap .point1 {
  width: 139.98px;
  height: 6.49px;
  border-radius: 54.05px;
  background-color: #ffffff0d;
}

.invest-paln-wrap .invest-plan-list .point-wrap .point2 {
  width: 145.38px;
  height: 6.49px;
  border-radius: 54.05px;
  background-color: #ffffff0d;
}

.invest-value {
  width: 110px;
  height: 38.91px;
  padding: 3px 16px 3px 3px;
  border-radius: 100px;
  background-color: #2c2d2d;
  box-shadow: -16px 24px 74px 0px #00000040;
  display: flex;
  align-items: center;
  gap: 4px;
  padding-left: 4px;
}

.invest-value h6 {
  font-size: 12px;
  font-weight: 500;
  line-height: 14.52px;
  text-align: left;
  columns: #ffffff;
}

.invest-value span {
  font-size: 6.49px;
  font-weight: 400;
  line-height: 7.85px;
  text-align: left;
  columns: #ffffff80;
}

.amount-1 {
  position: absolute;
  top: 44px;
  right: -26px;
}

.amount-2 {
  position: absolute;
  bottom: -10px;
  left: -30px;
}

.step5 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.step5 .manage-tax-wrap {
  width: 100%;
  padding: 40px 20px 0px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.manage-tax-wrap span {
  font-size: 12px;
  font-weight: 400;
  line-height: 16.94px;
  color: #ffffff;
}

.manage-tax1 {
  width: 334px;
  height: 49.89px;
  background-color: #61399f33;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  border-radius: 8px;
}

.manage-tax2 {
  width: 284px;
  height: 49.89px;
  background-color: #30303080;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  border-radius: 8px;
}

.manage-tax3 {
  width: 223px;
  height: 50px;
  background-color: #30303080;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  border-radius: 8px;
}

.manage-tax4 {
  width: 191px;
  height: 50px;
  background-color: #30303080;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  border-radius: 8px;
}

.step6 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.step6 .portfolio-wrap {
  width: 336px;
  height: 233px;
  margin: auto;
  position: relative;
}

.step6 .portfolio-wrap .dash-box {
  width: 100%;
  height: 100%;
  border: 2px dashed #303030;
  position: relative;
}

.portfolio-wrap .dash-box .dash-node {
  width: 14px;
  height: 14px;
  border-radius: 4px;
  border: 0.58px solid #484848;
  background-color: #303030;
}
.node1 {
  position: absolute;
  left: -10px;
  top: -8px;
}

.node2 {
  position: absolute;
  right: -10px;
  top: -8px;
}

.node3 {
  position: absolute;
  right: -10px;
  bottom: -8px;
}

.node4 {
  position: absolute;
  left: -10px;
  bottom: -8px;
}

.user-portfolio {
  width: 212px;
  height: 232.96px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: absolute;
  top: -20px;
  left: 18%;
}
.user-portfolio .portfolio-top {
  width: 212px;
  height: 39.29px;
  padding: 11px 9px 11px 9px;
  border-radius: 5px;
  border: 1px solid linear-gradient(0deg, #484848, #484848);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #303030;
}
.p-img-2 {
  position: absolute;
  left: 10px;
}

.user-portfolio .portfolio {
  width: 212px;
  height: 87.83px;
  background: #303030;
  border-radius: 5px;
  border: 0.58px solid #484848;
  padding: 4px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.user-portfolio .portfolio .p-content1 {
  width: 160.74px;
  height: 4.31px;
  background-color: #ffffff0d;
  border-radius: 4px;
  margin-bottom: 2px;
}

.user-portfolio .portfolio h6 {
  font-size: 8px;
  font-weight: 400;
  line-height: 9.68px;
  text-align: left;
  color: #ffffff;
}

.user-portfolio .portfolio .p-content2 {
  width: 140.74px;
  height: 6.31px;
  background-color: #ffffff0d;
  border-radius: 4px;
}

/* Step 7 */
.step7-wrap {
  width: 100%;
  height: 305px;
  display: flex;
  border-radius: 16px;
  border: 1px solid #504e4e;
  background: #18181b80;
  box-shadow: 0px 0px 0px 0px #ffffff;
  box-shadow: 0px 0px 0px 1px #f4f4f51a;
  box-shadow: 0px 0px 0px 0px #00000000;
  margin-top: 24px;
  padding: 32px;
}

.step7-wrap .step7 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.step7-wrap .step7 .step7-guide {
  width: 495px;
  height: 241px;
  padding: 0px 32px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.step7-wrap .step7 .step7-guide h6 {
  font-size: 18px;
  font-weight: 600;
  line-height: 21.78px;
  text-align: left;
  color: #61399f;
}

.step7-wrap .step7 .step7-guide h4 {
  font-size: 20px;
  font-weight: 600;
  line-height: 24.2px;
  text-align: left;
  color: #ffffff;
}
.step7-wrap .step7 .step7-guide p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  columns: #ffffff80;
}

.step7-guide::after {
  position: absolute;
  content: "";
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 500px;
  width: 1px;
  height: 200px;
  background: linear-gradient(
    0deg,
    rgba(35, 137, 231, 0) 0%,
    rgba(35, 137, 231, 0.4) 50%,
    rgba(35, 137, 231, 0) 100%
  );
}

.step7-wrap .step7 .track {
  width: 604px;
  height: 241px;
  position: relative;
}
.track .track-box1 {
  position: absolute;
  right: 0px;
  width: 377.54px;
  height: 221.26px;
  border-radius: 19.74px;
  border: 0.77px solid #484848;
  background: #4848484d;
  backdrop-filter: blur(9.623546600341797px);
}
.track .track-box2 {
  position: absolute;
  padding: 8px;
  right: 18px;
  bottom: 0px;
  width: 377.54px;
  height: 221.26px;
  border-radius: 19.74px;
  border: 0.77px solid #484848;
  background: #48484833;
  backdrop-filter: blur(75.4255599975586px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.track .track-box2 button {
  width: 168.7px;
  height: 34.74px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 11.52px;
  border: 0.82px solid #ffffff2b;
  font-size: 12.53px;
  font-weight: 700;
  line-height: 15.17px;
  letter-spacing: -0.4112626612186432px;
  text-align: left;
  background: #61399f;
  color: #ffffff;
  margin-bottom: 8px;
  margin-right: 4px;
}

.track .track-box3 {
  width: 279px;
  height: 85px;
  padding: 15px 19px 15px 19px;
  gap: 16px;
  border-radius: 16px;

  box-shadow: -16px 34px 74px 0px #00000059;
  background-color: #2c2d2d;
  position: absolute;
  bottom: 10px;
  left: 100px;
}

.total-networth {
  width: fit-content;
  height: 26px;
  border-radius: 30px;
  padding: 6px 12px;
  background-color: #ffffff1a;
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: -0.02em;
}
.track-box3 span {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  letter-spacing: -0.02em;
  color: #d2d2d2b7;
}

.track .shield-icon {
  position: absolute;
  top: 4px;
  left: 65px;
}

.track .rupee-icon {
  position: absolute;
  top: 0px;
  left: 155px;
}

.circleb-icon {
  position: absolute;
  top: 55px;
  left: 167px;
}

.circles-icon {
  position: absolute;
  top: 65px;
  left: 140px;
}

@media (max-width: 1024px) {
  .how-we-p {
    padding-top: 100px;
  }

  .stock-suggestion-wrap .stock-webview {
    width: 508.74px;
  }

  .web-view-stocks6 {
    position: absolute;
    width: 495px;
  }

  .track .shield-icon {
    top: 108px;
    left: -10px;
  }

  .track .rupee-icon {
    top: 112px;
    left: 65px;
  }

  .circleb-icon {
    top: 153px;
    left: 82px;
  }

  .circles-icon {
    position: absolute;
    top: 160px;
    left: 60px;
  }
}

@media (max-width: 768px) {
  .hero-content {
    max-width: 100%;
    text-align: center;
  }
  .hero-content-wrappper {
    flex-direction: column;
  }
  .how-we-p {
    padding-top: 100px;
  }

  .hero-content p {
    text-align: center;
  }

  .hero-buttons {
    justify-content: center;
  }
  .how-step-wrap {
    align-items: center;
    justify-content: center;
  }
  .how-get-start {
    padding: 20px 20px;
  }
  .track .track-box1 {
    position: absolute;
    right: 0px;
    width: 267.54px;
  }
  .track .track-box2 {
    position: absolute;
    padding: 8px;
    right: 18px;
    bottom: 0px;
    width: 318.54px;
  }

  .track .track-box2 img {
    max-width: 90%;
  }

  .track .shield-icon {
    position: absolute;
    top: -12px;
    left: -83px;
  }
  .track .rupee-icon {
    position: absolute;
    top: -12px;
    left: -13px;
  }
  .circleb-icon {
    position: absolute;
    top: 54px;
    left: -13px;
  }
  .circles-icon {
    position: absolute;
    top: 59px;
    left: -34px;
  }
}

@media (max-width: 425px) {
  .web-view-stocks1 {
    width: 234px;
    left: -25px;
  }

  .web-view-stocks2 {
    width: 215px;
    right: -40px;
  }
  .web-view-stocks3 {
    width: 100%;
  }
  .web-view-stocks3 .stocks3-dash {
    width: 95.9px;
  }
  .web-view-stocks4 {
    width: 234px;
    left: -25px;
  }
  .web-view-stocks4 span {
    font-size: 12px;
  }
  .web-view-stocks5 {
    width: 234px;
    right: -40px;
  }
  .web-view-stocks5 span {
    font-size: 12px;
  }

  .web-view-stocks6 {
    width: 100%;
  }

  .how-we-p {
    padding-top: 80px !important;
  }

  .step7-wrap .step7 {
    flex-direction: column;
    gap: 10px;
  }
  .step7-wrap {
    width: 100%;
    height: auto;
  }

  .step7-wrap .step7 .step7-guide {
    width: 100%;
    padding: 0px;
  }

  .step7-wrap .step7 .track {
    width: 347px;
  }
  .track .track-box3 {
    width: 258px;
  }

  .stock-suggestion-wrap {
    width: 100%;
    margin: 0px;
  }

  .stock-suggestion-wrap .stock-webview {
    width: 100%;
  }

  /* .hero-content-wrappper {
    padding: 0px;
  } */

  .track .shield-icon {
    position: absolute;
    top: 137px;
    left: -43px;
  }
  .track .rupee-icon {
    position: absolute;
    top: 130px;
    left: 42px;
  }
  .circleb-icon {
    position: absolute;
    top: 182px;
    left: 61px;
  }

  .circles-icon {
    position: absolute;
    top: 187px;
    left: 35px;
  }
}
