@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0px;
  padding: 0px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
  font-optical-sizing: auto;
  line-height: 1.5;
}

img,
picture {
  max-width: 100%;
  display: block;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

input,
textarea {
  font-family: inherit;
}

p {
  margin-bottom: 0px;
  line-height: 32px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0px;
}

main {
  width: 100%;
  background-color: #111617;
}

.main-wrapper {
  max-width: 1440px;
  margin: auto;
  background: #00000059;
  backdrop-filter: blur(104px);
}

/* .nav-wraper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 2px;
  z-index: 1000;
} */
